.header-wrapper {
    display: block;
    width: 100%;
    background-color: $home-page-search-color;
    
    .header{
        background-color: $home-page-search-color;
        .logo img{
            min-width: 200px;
            max-width: 200px;
        }

        .nav {
            a {
                font-family: $text-font;
                color: $link-color;
                font-size: 14px;
                text-decoration: underline;
            }
            svg {
                height: 12px;
                width: 12px;
            }
        }
    }
}