.header-wrapper {
    display: block;
    width: 100%;
    background-color: FFFFFF;
    .header{
        background-color: #FFFFFF;

        .logo img{
            min-width: 200px;
            max-width: 200px;
        }

        .nav {
            a {
                font-family: $text-font;
                color: $text-color;
            }
            svg {
                height: 12px;
                width: 12px;
            }
        }
    }
}