.homepage{
    .homepage-search{
        background-color: $home-page-search-color;

        margin-bottom: 0;
        padding-bottom: 40px;
        padding-bottom: 40px;

        .hero-inner {

            .hero-popular-help-topics {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                color: $brand-text-color;
                margin: 16px 0;
                font-family: sans-serif;
                font-weight: 700;  
                line-height: 24px;

                    a {
                        display: block;
                        font-weight: 400;
                        font-size: 16px;
                        font-family: $text-font;
                        line-height: 24px;
                        color: $brand-text-color;
                        text-align: center;
                        text-decoration: underline;
                        margin-left: 4px;
                    }

                    .popular_article_order_1 {
                        display: block;
                        order: 1;
                    }

                    .popular_article_order_1::after {
                        content: ', ';
                    }

                    .popular_article_order_2 {
                        display: block;
                        order: 2;
                    }

                    .popular_article_order_2:after{
                        content: ', ';
                    }

                    .popular_article_order_3 {
                        display: block;
                        order: 3;
                    }
            }
        }

        .hero-title {
            color: $brand-text-color;
            margin-top: 0px;
            margin-bottom: 25px;
        }

        .search {
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            border: 1px solid $search-bar-border-color;
            box-sizing: border-box;
            padding-left: 40px;
            padding-right: 20px;
            background-color: #FFFFFF;

            font-size: 16px;
            padding-left: 0px;
            width: 530px;

            #query {
                max-width: 100%;
                color: rgb(71, 71, 71);
                height: 46px;
            }

            #query::placeholder {
                font-size: 16px;
            }
        }

        .search-icon {
            top: 94px;
        }

        .search input[type="submit"] {
            position: absolute;
            right: -180px;
            height: 100%;
            min-width: 166px;
            margin: 16px 0;
            background-color: #FFFFFF;
            border: 1px solid $search-bar-border-color;
            outline: 0;
            color: $brand-text-color;
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
            min-height: 50px;
            max-height: 50px;
        }

        .search input[type="submit"]:hover {
            background-color: lighten($home-page-search-color, 30%);
            color: $brand-text-color;
        }

    }
    
    .homepage-featured-articles {
        background-color: $home-page-search-color !important;

        .container {
            margin: 0 auto;

            .categories, .blocks {
                padding: 64px 0 40px;
            }

            .blocks-item {
                border: 1px solid #000;
                background-color: $home-page-squares-background-color;

                box-shadow: 0 2px 4px 0 #000000;
                height: 304px;
                transition: box-shadow 450ms;

                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                .blocks-item-title {
                    color: $home-page-squares-text-color;
                }

                .blocks-item-description {
                    color: $home-page-squares-text-color;
                }
            }

            .blocks-item:hover {
                background-color: lighten($home-page-squares-background-color, 10%);
            }

            .blocks-item-title {
                text-decoration: none;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                text-transform: uppercase;
                margin-top: 50px;
            }

            .blocks-item-description {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }

            //Security & Privacy
            .category-1500000074082 {
                background-image: url(unquote("$assets-screen_monitoring-svg"));
                background-repeat: no-repeat;
                background-position: center top 32px;
                fill: #fff;
            }

            //Pick your LMS
            .category-360005908633 {
                background-image: url(unquote("$assets-learner_privacy-svg"));
                background-repeat: no-repeat;
                background-position: center top 32px;
            }

            //Updates
            .category-360004696034 {
                background-image: url(unquote("$assets-customizable_rules-svg"));
                background-repeat: no-repeat;
                background-position: center top 32px;
            }

            //Integrations
            .category-360005943653 {
                background-image: url(unquote("$assets-ease_of_integration-svg"));
                background-repeat: no-repeat;
                background-position: center top 32px;
            }
        }
    }

    .promoted-articles-bottom {
        display: block;
        width: 90%;
        max-width: 1160px;
        margin: 0 auto;

        .articles {
            display: block;
            
            margin-top: 64px;

            h2 {
                font-size: 30px;
                line-height: 40px;
                font-weight: 600;
                margin: 0;
            }

            .article-list.promoted-articles {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }
}