$background-color: #FFFFFF;
$text-color: #2F3941;
$text-font: "Roboto";
$heading-font: "Roboto";
$link-color: #1F73B7;
$brand-color: #17494D;
$visited-link-color: #4B61C3;

$home-page-search-color: #1e385d;

$brand-text-color: #FFFFFF;
$h1-text-size: 30px;


//Green #66cc33, Blue #1e385d