<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<div class="header-wrapper">
  <header class="header">
    <div class="logo">
      {{#link 'help_center'}}
        <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
      {{/link}}
    </div>
    <div class="nav">
      <a href="www.google.ca" role="button" target="_blank">Go to Partner Support
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="16" viewBox="0 0 16 16" width="16"><path d="m7.62 1.535h-6.846v13.69h13.691v-6.845m-6.845 0 7.606-7.606m0 0v4.057m0-4.057h-4.057" stroke="#2F3941" stroke-width="1.5"/></svg>
      </a>
    </div>
  </header>
</div>